body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
    margin: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

nav a:hover {
    color: #ff9900;
}

table {
    margin: 0 auto;
    align-content: center;
}

.logo {
    width: 60px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 40px;
    transform: translateY(-50%);
}