<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Pedido</title>
</head>
<body>

    <h2>Editar Pedido</h2>

    <form th:action="@{/pedidos/edit}" th:object="${pedido}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>Fecha: <input type="date" th:field="*{fecha}" required></label><br>
        <label>Cliente ID: <input type="text" th:field="*{cliente}" required></label><br>
        <button type="submit">Guardar Cambios</button>
    </form>

    <a th:href="@{/pedidos}">Volver a la lista de pedidos</a>

</body>
</html>