<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinPedido List</title>
</head>
<body>

<h2>LinPedido List</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>ID Producto</th>
        <th>Cantidad</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="linPedido : ${linpedidos}">
        <td th:text="${linPedido.id_lin_pedido}"></td>
        <td th:text="${linPedido.producto.id_producto}"></td>
        <td th:text="${linPedido.cantidad}"></td>
        <td>
            <a th:href="@{/linPedido/{linPedidoId}(linPedidoId=${linPedido.id_lin_pedido})}">
                <button>Editar</button>
            </a>
            <form th:action="@{/linPedido/deleteLinPedido/{linPedidoId}(linPedidoId=${linPedido.id_lin_pedido})}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta línea de producto?')">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
